RewriteEngine On
RewriteCond %{THE_REQUEST} /actions/.*\.php [NC]
RewriteRule ^ - [L]
RewriteCond %{THE_REQUEST} /.*.php [NC]
RewriteRule ^ - [R=404,L]

RewriteRule ^web_seminar$ index.php [L]
RewriteRule ^web_seminar/event_mendatang$ index_content.php [L]
RewriteRule ^login$ form_login.php [L]
RewriteRule ^dashboard/profile$ form_edit_profile.php [L]
RewriteRule ^dashboard/password$ form_edit_password.php [L]
RewriteRule ^dashboard/table$ table_peserta.php [L]
RewriteRule ^dashboard/table_question$ table_faq.php [L]
RewriteRule ^dashboard/table_create_seminar$ table_contributor.php [L]
RewriteRule ^dashboard/table_role$ table_role.php [L]
RewriteRule ^dashboard/table_seminar$ table_seminar.php [L]
RewriteRule ^registrasi$ form.php [L]
RewriteRule ^daftar_seminar$ form_regist_seminar.php [L]
RewriteRule ^dashboard/home$ home.php [L]
RewriteRule ^dashboard/table_question/tambah_question$ form_add_question.php [L]
RewriteRule ^dashboard/table/tambah_data$ form_add.php [L]
RewriteRule ^dashboard/table_role/tambah_role$ form_add_role.php [L]
RewriteRule ^dashboard/table_create_seminar/tambah_seminar$ form_add_seminar.php [L]
RewriteRule ^dashboard/table_create_seminar/([0-9]+)$ form_edit_seminar.php?id=$1 [L]
RewriteRule ^dashboard/table_create_seminar/([0-9]+)/partisipan$ table_partisipan.php?id=$1 [L]
RewriteRule ^dashboard/table_role/([0-9]+)$ form_edit_role.php?id=$1 [L]
RewriteRule ^dashboard/table_question/([0-9]+)$ form_edit_question.php?id=$1 [L]
RewriteRule ^dashboard/table/([0-9]+)$ form_edit.php?id=$1 [L]
